<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalTaoChungThu" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
                <h3 class="text-center m-t-20 m-b-20">
                    Chọn loại chứng thư
                </h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group form-group-default form-group-default-select2">
                        <label class="">Chọn</label>
                        <select class="full-width select2-hidden-accessible" data-placeholder="Select Country" data-init-plugin="select2" tabindex="-1"
                            aria-hidden="true">
                                <optgroup label="Phòng năng lượng">
                                <option value="NL-SL">Giám định số lượng</option>
                                <option value="NL-CL">Giám định chất lượng</option>
                                </optgroup>
                                <optgroup label="Phòng hàng hóa">
                                <option value="HH-NP">Giám định niêm phong</option>
                                <option value="HH-TB">Giám định thiết bị</option>
                                <option value="HH-KL-CL">Giám định khối lượng, chất lượng</option>
                                <option value="HH-HH">Giám định hàng hải</option>
                                </optgroup>
                                <optgroup label="Phòng Bảo hiểm, hàng hóa">
                                <option value="BH-NP">Giám định niêm phong</option>
                                <option value="BH-TB">Giám định thiết bị</option>
                                <option value="BH-KLCL">Giám định khối lượng, chất lượng</option>
                                <option value="BH-HH">Giám định hàng hải</option>
                                <option value="BH-HQ">Giám định hải quan</option>
                                </optgroup>
                                </select>
                    </div>
                </div>
                <div class="row m-t-10 text-right">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                    <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Xác nhận</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END MODAL STICK UP  -->