<!-- BEGIN SIDEBAR MENU -->
<div class="sidebar-menu">
    <ul class="menu-items">
        <li class=" m-t-30 {{#ifContain 'trangmau' layout }} active {{/ifContain}}">
            <a href="javascript:;"><span class="title">Trang mẫu</span>
        <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="pg-menu_lv"></i></span>

            <ul class="sub-menu">

                <li class="{{#ifContain 'trangmau1' layout }} active {{/ifContain}}">
                    <a href="trangmau1.html">Trang mẫu </a>
                </li>

                <li class="{{#ifContain 'trangmau' layout }} active {{/ifContain}}">
                    <a href="javascript:;"><span class="title">Trang mẫu con</span>
<span class="arrow"></span>
</a>
                    <!--<span class="icon-thumbnail"></span>-->
                    <ul class="sub-menu">
                        <li class="{{#ifContain 'trangmau2' layout }} active {{/ifContain}}">
                            <a href="trangmau2.html">Trang mẫu 2</a> </li>

                        <li class="{{#ifContain 'trangmau3' layout }} active {{/ifContain}}">
                            <a href="trangmau3.html">Trang mẫu </a> </li>

                    </ul>
                </li>

            </ul>
        </li>
         <li/>
            <a href="index.html">
                <span class="title">Trang login</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-money"></i></span>
        </li>

         <li/>
            <a href="quanlykhachhang.html">
                <span class="title">Quản lý khách hàng</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
        </li>


         <li/>
            <a href="quanlykhachhang.html">
                <span class="title">Quản lý phòng ban</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-cubes"></i></span>
        </li>


         <li/>
            <a href="javascript:;"><span class="title">Yêu cầu giám định</span>
        <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-check-square-o"></i></span>

            <ul class="sub-menu">

                 <li/>
                    <a href="trangmau1.html">Tạo yêu cầu giám định </a>
                </li>

                 <li/>
                    <a href="trangmau1.html">DS yêu cầu giám định </a>
                </li>

                 <li/>
                    <a href="trangmau1.html">Phòng ban chỉ định </a>
                </li>
            </ul>
        </li>

        <li/>
            <a href="quanlykhachhang.html">
                <span class="title">Giám định viên</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-user-circle"></i></span>
        </li>


         <li/>
            <a href="javascript:;"><span class="title">Quản lý chỉ tiêu chất lượng</span>
        <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-line-chart"></i></span>

            <ul class="sub-menu">

                <li/>
                    <a href="trangmau1.html">Thêm mới bộ chỉ tiêu chất lượng </a>
                </li>

                 <li/>
                    <a href="trangmau1.html">DS Bộ chỉ tiêu chất lượng </a>
                </li>

            </ul>
        </li>

         <li/>
            <a href=".html">
                <span class="title">Hủy chứng thư</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-chain-broken"></i></span>
        </li>






    </ul>


    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->