{{#extend "default"}} {{#content "main"}}
<br>
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">{{title}}
      </h3>

    </div>
  </div>

  <div class="row">
    {{>formSearch type="danhsachhoadon"}}

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-right m-b-10">
          <span class="pull-left m-t-10 m-r-5"><b>1 - 100</b> trong tổng số <b>1412</b></span>
          <div class="btn-group">
            <button type="button" class="btn btn-default"><i class="fa fa-chevron-left"></i></button>
            <button type="button" class="btn btn-default"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
               
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Số lượng hóa đơn</th>
                <th>Chi tiết</th>
                <th class="v-align-middle">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               
                <td class="v-align-middle">1</td>
                <td class="v-align-middle">Nguyễn Văn A</td>
                <td class="v-align-middle">24</td>
                <td class="v-align-middle">
                  <a href="" class="text-primary" data-toggle="modal" data-target="#modalHoaDonKhachHang-ChiTiet"><i class="fa fa-info-circle"></i> Xem</a>
                </td>
                <td class="v-align-middle">
                  <div class="btn-group sm-m-t-10">
                    <button type="button" class="btn btn-default btn-sm text-primary" data-toggle="modal" data-target="#modalTaoMoiHoaDon"><i class="fa fa-file"></i> Tạo mới hóa đơn</button>
                  </div>
                </td>
              </tr>
              <tr>
              
                <td class="v-align-middle">2</td>
                <td class="v-align-middle">Nguyễn Văn B</td>
                <td class="v-align-middle">14</td>
                <td class="v-align-middle">
                  <a href="" class="text-primary" data-toggle="modal" data-target="#modalHoaDonKhachHang-ChiTiet"><i class="fa fa-info-circle"></i> Xem</a>
                </td>
                <td class="v-align-middle">
                  <div class="btn-group sm-m-t-10">
                    <button type="button" class="btn btn-default btn-sm text-primary" data-toggle="modal" data-target="#modalTaoMoiHoaDon"><i class="fa fa-file"></i> Tạo mới hóa đơn</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          {{>pagination}}
        </div>
      </div>
    </div>
  </div>
</div>

{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}